{% extends "JobFinderApp/layout.html" %}

{% block body %}
    <div class="container-fluid" style="padding: 20px 40px">
        <h2><strong>Applicants</strong></h2>
        <hr>
        {% for post in posts %}
            {% for applicant in post.applicants.all %}
                <a href="{% url 'profile' applicant.username %}" style="text-decoration: none; color: black;">
                    <div class="card post">
                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ applicant.first_name }} {{ applicant.last_name}} applied for the post of {{ post.title }}</h5>  
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
