{% extends "JobFinderApp/layout.html" %}
{% load static %}

{% block script %}<script src="{% static 'JobFinderApp/interview.js' %}"></script>{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding: 20px 40px">
        <h2><strong>Applicants</strong></h2>
        <hr>
        {% if message %}
            <div class="alert alert-danger" style="margin-top: 30px;" role="alert">{{ message }}</div>
        {% endif %}
        {% for post in posts %}
            {% for applicant in post.applicants.all %}
                <a href="{% url 'profile' applicant.username %}" style="text-decoration: none; color: black;">
                    <div class="card post" style="height: 73px;">
                        <div class="card-body">
                            {% if applicant not in post.accepted.all %}
                                <form style="display: inline;" action="{% url 'reject' applicant.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="jobid" value="{{ post.id }}">
                                    <button class="btn btn-danger pb-1" style="float: right;" type="submit">Delete application</button>
                                </form>
                                <button id="btn_{{ post.id }}_{{ applicant.id }}" data-id="{{ post.id }}_{{ applicant.id }}" class="btn btn-success pb-1" style="float: right; margin-right: 3px">Invite applicant to interview</button>
                            {% else %}
                                <span style="float: right; color:green; margin-right: 3px;" class="pt-1"><strong>User has already been invited to an interview!</strong></span> 
                            {% endif %}
                            <h5 class="card-title pt-1">{{ applicant.first_name }} {{ applicant.last_name}} applied for the post of {{ post.title }}</h5>  
                        </div>
                    </div>
                </a>

                {% if applicant not in post.accepted.all %}
                    <div id="form_{{ post.id }}_{{ applicant.id }}" style="border-color: grey; border-width: 1px; border-style: solid; padding:1%; margin-bottom: 10px; display: none;">
                        <h6>Invite applicant to interview.</h6>
                        <form action="{% url 'message' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="job" value="{{ post.id }}">
                            <input type="hidden" name="applicant" value="{{ applicant.id }}">
                            <div class="input-group form-group">
                                <input class="form-control" type="date" name="date" required>
                                <input class="form-control" type="text" name="time" placeholder="Time for interview" required>
                            </div>
                            <input class="form-control mt-0" type="text" name="location" placeholder="location" required>
                            <button class="btn btn-outline-primary mt-3" type="submit">Invite applicant to interview</button>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
