{% extends "JobFinderApp/layout.html" %}

{% block script %} 
<script>
document.addEventListener('DOMContentLoaded', function() {
    var select = document.getElementById("selectField");
    var options = ["Architecture and engineering", "Arts, culture and entertainment", "Business, management and administration", "Communications", "Community and social services",
        "Education", "Science and technology", "Installation, repair and maintenance", "Farming, fishing and forestry", "Health and medicine", "Law and public policy", "Sales"];

    for(var i = 0; i < options.length; i++) {
        var x = options[i];
        var op = document.createElement("option");
        op.textContent = x;
        op.value = x;
        select.appendChild(op);
    }
})</script> {% endblock %}

{% block body %}
    <div class="container-fluid" style="padding: 10px 30px; text-align: center;">
        <h1><strong>Add a new job post</strong></h1>

        {% if message %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}

        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <div class="input-group form-group">
                <input class="form-control" type="text" name="title" placeholder="Job title" required>
                <select name="level" class="form-control">
                    <option disabled selected>Select level</option>
                    <option value="Entry level">Entry level</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                </select>
            </div>
            <textarea class="form-control" style="height: 200px;" name="description" placeholder="Job description (format exactly how you want this to be displayed)" required></textarea>
            <textarea class="form-control mt-3 mb-3" style="height: 200px;" name="requirements" placeholder="Job requirements (format exactly how you want this to be displayed)" required></textarea>
            <textarea class="form-control mt-3 mb-3" style="height: 200px;" name="compensation" placeholder="Compensation (format exactly how you want this to be displayed)" required></textarea>
            <select class="form-control" id="selectField" name="fieldofinterest">
                <option disabled selected>Select job field</option>
            </select>
            <input class="btn btn-primary mt-3" type="submit" value="Create post">
        </form>
    </div>
{% endblock %}