{% extends "JobFinderApp/layout.html" %}
{% load static %}

{% block script %}<script src="{% static 'JobFinderApp/edit.js' %}"></script>{% endblock %}

{% block body %}
    <div style="padding-right: 1%; text-align: center;">
        <div class="sidebar" style="text-align: left;">
            <a href="" id="btn_desc">Update description</a>
            <a href="" id="btn_job">Update jobs</a>
            <a href="" id="btn_educ">Update education</a>
            <a href="" id="btn_lang">Update languages</a>
            <a href="" id="btn_course">Update courses</a>
            <a href="" id="btn_field">Select field of interest</a>
            <a href="" id="btn_del">Delete information added</a>
        </div>

        {% if message %}
            <div class="alert alert-danger" role="alert" style="margin-left: 215px;">{{ message }}</div>
        {% endif %}

        <div class="side-content">
            <div class="p-1" id="desc" style="display: none;">
                <h1><strong>Update description</strong></h1>
                <form action="{% url 'edit' person.username %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="op" value="desc"> 
                    <textarea class="form-control" name="description" placeholder="Description" required>{{ person.description }}</textarea>
                    <button class="btn btn-primary mt-3" type="submit">Update description</button>
                </form>
            </div>

            <div class="p-1" id="job" style="display: none;">
                <h1><strong>Add past job experience</strong></h1>
                <form action="{% url 'edit' person.username %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="op" value="job"> 
                    <div class="input-group form-group">
                        <input class="form-control" type="text" name="company" placeholder="Company" required>
                        <input class="form-control" type="text" name="position" placeholder="Position occupied" required>
                    </div>
                    <textarea placeholder="Description of the job" class="form-control" name="description" required></textarea>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="from" class="mt-3 mb-1">Start of job:</label>
                            <input id="from" class="form-control" type="date" name="start_date" required>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="to" class="mt-3 mb-1">End of job:</label>
                            <input id="to" class="form-control" type="date" name="end_date" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Add job experience</button>
                </form>
            </div>
            <div class="p-1" id="lang" style="display: none;">
                <h1><strong>Add a known language</strong></h1>
                <form action="{% url 'edit' person.username %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="op" value="lang">
                    <div class="input-group form-group">
                        <input class="form-control" type="text" name="language" placeholder="Language" required>
                        <input class="form-control" type="text" name="level" placeholder="Level" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Add known language</button>
                </form>
            </div>
            <div class="p-1" id="educ" style="display: none;">
                <h1><strong>Add past education</strong></h1>
                <form action="{% url 'edit' person.username %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="op" value="educ">
                    <div class="input-group form-group">
                        <input class="form-control" type="text" name="institution" placeholder="Institution" required>
                        <input class="form-control" type="text" name="level" placeholder="Education level" required>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="from" class="mb-1">Start of job:</label>
                            <input id="from" class="form-control" type="date" name="start_date" required>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="to" class="mb-1">End of job:</label>
                            <input id="to" class="form-control" type="date" name="end_date" required>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Add past education</button>
                </form>
            </div>
            <div class="p-1" id="course" style="display: none;">
                <h1><strong>Add course taken</strong></h1>
                <form action="{% url 'edit' person.username %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="op" value="course">
                    <div class="input-group form-group">
                        <input class="form-control" type="text" name="institution" placeholder="Institution offering course" required>
                        <input class="form-control" type="text" name="name" placeholder="Course name" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Add course</button>
                </form>
            </div>

            <div class="p-1" id="field" style="display: none;">
                <h1><strong>Select field of interest</strong></h1>
                <form action="{% url 'edit' person.username %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="op" value="field">
                    <select class="form-control" id="selectField" name="fieldofinterest">
                        <option disabled selected>Select a field of interest</option>
                    </select>
                    <button class="btn btn-primary mt-3" type="submit">Add field</button>
                </form>
            </div>

            <div class="p-1" id="del" style="display: none;">
                {% if person.jobs.all %}
                    <h4><strong>Delete jobs</strong></h4>     
                    <div class="row m-1">
                        {% for job in person.jobs.all %}
                            <div class="card post col-4">
                                <div class="card-body pb-3">
                                    <form action="{% url 'delete' job.id %}" method="POST" style="display: inline;">
                                        {% csrf_token %}
                                        <input hidden type="text" name="op" value="job">
                                        <button type="submit" class="btn btn-danger" style="float: right;">Delete</button>
                                    </form>
                                    <h5 class="card-title">{{ job.position }} at {{ job.company_name }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}

                {% if person.education.all %}
                    <h4><strong>Education</strong></h4>
                    <div class="row m-1">
                        {% for education in person.education.all %}
                            <div class="card post col-4">
                                <div class="card-body">
                                    <form class="mt-1" action="{% url 'delete' education.id %}" method="POST">
                                        {% csrf_token %}
                                        <input hidden type="text" name="op" value="educ">
                                        <button type="submit" class="btn btn-danger" style="float: right;">Delete</button>
                                    </form>
                                    <h5 class="card-title mb-0">{{ education.institution }} - {{ education.level }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}

                {% if person.languages.all %}
                    <h4><strong>Languages</strong></h4>
                    <div class="row m-1">
                        {% for language in person.languages.all %}
                            <div class="card post col-4">
                                <div class="card-body">
                                    <form class="mb-2" action="{% url 'delete' language.id %}" method="POST">
                                        {% csrf_token %}
                                        <input hidden type="text" name="op" value="lang">
                                        <button type="submit" class="btn btn-danger" style="float: right;">Delete</button>
                                    </form>
                                    <h5 class="card-title mb-2">{{ language.language }} - Level: {{ language.level }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}

                {% if person.courses.all %}
                    <h4><strong>Courses</strong></h4>
                    <div class="row m-1">
                    {% for course in person.courses.all %}
                        <div class="col-4 card post">
                            <div class="card-body">
                                <form action="{% url 'delete' course.id %}" method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name="op" value="course" method="POST">
                                    <button type="submit" class="btn btn-danger" style="float: right;">Delete</button>
                                </form>
                                <h5 class="card-title mb-0">{{ course.name }} - {{ course.institution }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>
    </div>
{% endblock %}