{% extends "JobFinderApp/layout.html" %}
{% load static %}

{% block script %}<script src="{% static 'JobFinderApp/javascript.js' %}"></script>{% endblock %}

{% block body %}
    <div class="sidebar">
        <a href="" id="btn_desc">Update description</a>
        <a href="" id="btn_job">Update jobs</a>
        <a href="" id="btn_educ">Update education</a>
        <a href="" id="btn_lang">Update languages</a>
        <a href="" id="btn_course">Update courses</a>
        <a href="" id="btn_field">Select field of interest</a>
    </div>

    <div class="side-content">
    <div id="desc" style="display: none;">
        <h1>Update description</h1>
        <form action="{% url 'edit' person.username %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="op" value="desc"> 
            <textarea class="form-control" name="description" placeholder="Description" required>{{ person.description }}</textarea>
            <button class="btn btn-outline-primary" type="submit">Update description</button>
        </form>
    </div>
    <div id="job" style="display: none;">
        <h1>Add past job experience</h1>
        <form action="{% url 'edit' person.username %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="op" value="job"> 
            <div class="input-group form-group">
                <input class="form-control" type="text" name="company" placeholder="Company" required>
                <input class="form-control" type="text" name="position" placeholder="Position occupied" required>
            </div>
            <textarea placeholder="Description of the job" class="form-control" name="description" required></textarea>
            <div class="input-group form-group mt-3">
                <input label="From" class="form-control" type="date" name="start_date" required>
                <input label="To" class="form-control" type="date" name="end_date" required>
            </div>
            <button class="btn btn-outline-primary" type="submit">Add job experience</button>
        </form>
    </div>
    <div id="lang" style="display: none;">
        <h1>Add a known language</h1>
        <form action="{% url 'edit' person.username %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="op" value="lang">
            <div class="input-group form-group">
                <input class="form-control" type="text" name="language" placeholder="Language" required>
                <input class="form-control" type="text" name="level" placeholder="Level" required>
            </div>
            <button class="btn btn-outline-primary" type="submit">Add known language</button>
        </form>
    </div>
    <div id="educ" style="display: none;">
        <h1>Add past education</h1>
        <form action="{% url 'edit' person.username %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="op" value="educ">
            <div class="input-group form-group">
                <input class="form-control" type="text" name="institution" placeholder="Institution" required>
                <input class="form-control" type="text" name="level" placeholder="Education level" required>
            </div>
            <div class="input-group form-group">
                <input label="From" class="form-control" type="date" name="start_date" required>
                <input label="To" class="form-control" type="date" name="end_date" required>
            </div>
            <button class="btn btn-outline-primary" type="submit">Add past education</button>
        </form>
    </div>
    <div id="course" style="display: none;">
        <h1>Add course taken</h1>
        <form action="{% url 'edit' person.username %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="op" value="course">
            <div class="input-group form-group">
                <input class="form-control" type="text" name="institution" placeholder="Institution offering course" required>
                <input class="form-control" type="text" name="name" placeholder="Course name" required>
            </div>
            <button class="btn btn-outline-primary" type="submit">Add course</button>
        </form>
    </div>

    <div id="field" style="display: none;">
        <h1>Select field of interest</h1>
        <form action="{% url 'edit' person.username %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="op" value="field">
            <select class="form-control" id="selectField" name="fieldofinterest">
                <option disabled selected>Select a field of interest</option>
            </select>
            <button class="btn btn-outline-primary mt-3" type="submit">Add field</button>
        </form>
    </div>

    </div>
{% endblock %}