{% extends "JobFinderApp/layout.html" %}
{% load static %}

{% block script %}<script src="{% static 'JobFinderApp/index.js' %}"></script>{% endblock %}

{% block body %}
<div class="bckg">
    <div class="cRow">
        <div class="cCol">
            <h1 class="title"><strong>Welcome to JobFinder!</strong></h1>
            <span style="font-size: 30px; color: rgb(210, 237, 255);"><strong>Connect with countless posibilities</strong></span>
        </div>
        <div class="cCol">
            <div class="dropdown">
                <button class="dropbtn">Search for users in the field of:</button>
                <div id="dp_people" class="dropdown-content">
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Search for jobs in the field of:</button>
                <div id="dp_jobs" class="dropdown-content">
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}