{% extends "JobFinderApp/layout.html" %}
{% load static %}

{% block script %}<script src="{% static 'JobFinderApp/index.js' %}"></script>{% endblock %}

{% block body %}
<div class="bckg">
    <div style="padding: 3%; text-align: center;">
        {% if message %}
            <div class="alert alert-danger" style="margin-top: 30px;" role="alert">{{ message }}</div>
        {% endif %}
        <h1 class="title">Welcome to JobFinder!</h1>
        <div class="dropdown">
            <button class="dropbtn">Search for people in the field of: </button>
            <div id="dp_people" class="dropdown-content">
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Search for jobs in the field of: </button>
            <div id="dp_jobs" class="dropdown-content">
            </div>
        </div>
    </div>
</div>
{% endblock %}