{% extends "JobFinderApp/layout.html" %}

{% block body %}
    <div class="container-fluid" style="padding: 20px 40px;">
        <h1 style="color:rgb(49, 37, 37);">Your interviews</h1>
        <hr>
            
        {% for interview in interviews %}
            <div class="card post">
                <div class="card-body pb-1">
                    <h5 class="card-title mb-0"> Job: <a href="{% url 'post' interview.job.id%}">{{ interview.job.title }}</a> - Company: <a href="{% url 'profile' interview.company.username%}">{{ interview.company.username }}</a></h5>
                    <form action="{% url 'delete' interview.id %}" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="op" value="interview">
                        <button type="submit" class="btn btn-danger" style="float: right;">X</button>
                    </form> 
                    <span>Date: <strong>{{ interview.date }}</strong> | Time: <strong>{{ interview.time }}</strong> | Location: <strong>{{ interview.location }}</strong></span> 
                    <p class="mt-1" style="color: grey;">Please confirm your attendance at: <strong>{{ interview.company.email }}</strong>. For rescheduling and clarifications contact the same address.</p> 
                </div>
            </div>
        {% empty %}
            <div style="padding-left: 1%;">
                Looks like you don't have any interviews yet!
            </div>
        {% endfor %}

        <hr style="border-color: black; border-width: 2px;">
        <h1 style="color:rgb(49, 37, 37);">Your applications</h1>
        <hr>
        {% for job in job_applications %}
            <div class="card post">
                <div class="card-body">
                    {% if request.user in job.accepted.all %}
                        <span style="color: green; float: right;"><strong>You have been invited to an interview!</strong></span>
                    {% endif %}
                    <h5 class="card-title mb-0"> Company: <a href="{% url 'profile' job.user.username%}">{{ job.user.username }}</a> - Job: <a href="{% url 'post' job.id%}"> {{ job.title }}</a></h5>
                </div>
            </div>
        {% empty %}
            <div style="padding-left: 1%;">
                Looks like you haven't applied anywhere yet!
            </div>
        {% endfor %}
{% endblock %}
