{% extends "JobFinderApp/layout.html" %}

{% block body %}
    <div class="container-fluid" style="padding: 20px 40px; text-align: center;">
        {% if field %}
            <div class="dropdown" style="float: right;">
                <button class="dropbtn" style="min-width: 200px; background-color: rgb(223, 211, 211); color: rgb(87, 80, 80)">Select job level:</button>
                <div id="dp_people" class="dropdown-content" style="min-width: 200px; background-color: rgb(233, 222, 222)">
                    <a href="{% url 'posts' field 'Entry level' %}">Entry level</a>
                    <a href="{% url 'posts' field 'Beginner' %}">Beginner</a>
                    <a href="{% url 'posts' field 'Intermediate' %}">Intermediate</a>
                    <a href="{% url 'posts' field 'Advanced' %}">Advanced</a>
                </div>
            </div>
        {% endif %}
        <h1 style="color:rgb(49, 37, 37);">
            <strong>{{ title }}</strong>
        </h1>
        <hr style="width: 90%;">

        {% for post in posts %}
            <a href="{% url 'post' post.id %}" style="text-decoration: none; color: black;">
            <div class="card post" style="width: 70%; margin-left: 15%;">
                <div class="card-body pb-1">
                    <h3 class="card-title mb-0"><strong>{{ post.user.username }}</strong></h3>
                    <h5 style="color: rgb(63, 59, 59);">{{ post.title }}</h5> 
                    <p class="mt-1">Field: <strong>{{ post.field }}</strong> | <span style="color: {{ post.color }}">Level: <strong>{{ post.level }}</strong></span></p> 
                </div>
            </div>
            </a>
        {% empty %}
            <div style="padding-left: 1%;">
                {% if title != "All posts" %}
                    Looks like there are no active posts in this particular field and/or for this particular job level!
                {% else %}
                    Looks like there are no active posts!
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}