{% extends "JobFinderApp/layout.html" %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var select = document.getElementById("selectField");
            var options = ["Architecture and engineering", "Arts, culture and entertainment", "Business, management and administration", "Communications", "Community and social services",
                "Education", "Science and technology", "Installation, repair and maintenance", "Farming, fishing and forestry", "Health and medicine", "Law and public policy", "Sales"];

            for(var i = 0; i < options.length; i++) {
                var x = options[i];
                var op = document.createElement("option");
                op.textContent = x;
                op.value = x;
                select.appendChild(op);
            }
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding: 10px 30px">
        <h1 class="m-3" style="text-align: center;"><strong>Register company</strong></h1>

        {% if message %}
            <div class="alert alert-danger" style="margin-top: 30px;" role="alert">{{ message }}</div>
        {% endif %}

        <form action="{% url 'register_company' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="uname">Company name: </label>
                    <input class="form-control" id="uname" autofocus type="text" name="username" placeholder="ex: Google" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email: </label>
                    <input class="form-control" id="email" type="email" name="email" placeholder="ex: comp@anymail.dom" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="loc">Location: </label>
                    <input class="form-control" id="loc" style="display: inline-block;" type="text" name="location" placeholder="ex: Eastern Boulevard 79, New York, USA" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="loc_link">Location link: </label>
                    <input class="form-control" id="loc_link" style="display: inline-block;" type="text" name="location_link" placeholder="Link to location (preferably from Google Maps)" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pass">Password: </label>
                    <input class="form-control" id="pass" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="passc">Confrim password: </label>
                    <input class="form-control" id="passc" type="password" name="confirmation" placeholder="Confirm Password" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="selectField">Select company field: </label>
                    <select class="form-control" id="selectField" name="field">
                        <option disabled selected>Select the company's main field of operations.</option>
                    </select>
                </div>
            </div>

            <input class="btn btn-primary col-1 col-sm-2" style="margin-left: 42.5%" type="submit" value="Register">
        </form>

        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
{% endblock %}